.navbar-nav>li>.dropdown-menu {
  margin-top:20px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
  font-weight:bold;
}

.dropdown {
  position: static !important;

}
.dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #0072C6;
}
.dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}
.dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}
.dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu > li > ul > li {
  list-style: none;
}
.dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #fff;
  white-space: normal;
}
.dropdown-menu > li ul > li > a:hover,
.dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.dropdown-menu .dropdown-header {
  color: #fff;
  font-size: 18px;
  font-weight:bold;
}
.dropdown-menu form {
  margin:3px 20px;
}
.dropdown-menu .form-group {
  margin-bottom: 3px;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  border-color: transparent;
  background-color: #3b5998;

}

.navbar-default .navbar-brand {
  color: #fff;
  margin-top: -15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus {
  color: #b3cde0;
}

.navbar-default .navbar-nav>.active> a,
.navbar-default .navbar-nav>.active> a:focus,
.navbar-default .navbar-nav>.active> a:hover {

  color: #fff;
  background-color: #0072C6;
  border-radius: 3px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {

  color: #fff;
  background-color: #0072C6;
  border-radius: 3px;

}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {

  color: #fff;
  background-color: #0072C6;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {

  color: #fff;
  background-color: #0072C6;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {

  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {

  color: #fff;
  background-color: #0072C6;
}

.dropdown-menu > li > a {
  background-color: #3b5998;

}

.dropdown-menu > li > a:hover {
  background-color: red;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #0072C6;
}

.btn-primary {
  background-color: #a90091;
  border-color: #a90091;
}

.btn-primary:hover {
  background-color: #d400cb;
  border-color: #d400cb;
}

.btn-primary:focus,
.btn-primary::selection {
  background-color: #00aedb;
}

.btn-primary:focus, 
.btn-primary::selection {
  background-color: #ff0084;
} 

/* Fin colores cabecera */

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  color: #fff;
}